<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{MainLayout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">
    <style>
        .item {
            width: 350px;
            height: 350px;
            background-color: gray;
        }
    </style>

    <table>
        <tr>
            <td style="width: 50%;">
                <div class="item"></div>
            </td>
            <td style="vertical-align: top;">
                <form th:action="@{/AddProduct}" th:object="${product}" method="POST">
                    <input type="text" th:field="*{title}" placeholder="Title">
                    <label>가격</label>
                    <input type="number" th:field="*{price}" placeholder="Price">
                    <label>재고</label>
                    <input type="number" th:field="*{stock}" placeholder="Stock">
                    <textarea th:field="*{detail}"></textarea>
                    <button type="submit">Add</button>
                </form>
            </td>
        </tr>
    </table>
</div>
</html>