<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{../layout/MainLayout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">
    <style>
        .preview {
            width: 150px;
            height: 150px;
            background-color: gray;
        }
    </style>

    <table>
        <a th:each="cart: ${carts}" th:href="@{product(id=${products[cart.id].id})}">
            <img th:src="@{/ProductImage(id=${products[cart.id].id})}" width="150" height="150">
            <div class="detail" th:text="${products[cart.id].title}"/>
            <div class="detail" th:text="${products[cart.id].price}"/>
            <div class="title" th:text="${cart.count}"/>
        </a>
    </table>
</div>
</html>