<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{../layout/MainLayout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">
    <style>
        .product {
            display: inline-block;
            width: 150px;
            margin: 15px;
        }

        .preview {
            width: 150px;
            height: 150px;
            background-color: gray;
        }

        .title, .detail {
            font-size: 18px;
            text-align: center;
            margin: 10px 0;
        }
    </style>

    <div id="productList">
        <a class="product" th:each="product: ${products}" th:href="@{product(id=${product.id})}">
            <img th:src="@{/ProductImage(id=${product.id})}" width="150" height="150">
            <div class="title" th:text="${product.title}"/>
            <div class="detail" th:text="${product.price}"/>
        </a>
    </div>

    <a th:href="@{/AddProduct}">
        <button>Add Product</button>
    </a>
</div>
</html>